.App {
  text-align: center;
  font-family: 'Museo Sans 500';
  letter-spacing: 6px;
  font-size: 1vw;
  display: flex;
  justify-content: center;
  background-color: #035664;
  color: rgb(218, 250, 226);
}

@font-face {font-family: "Museo Sans 500"; 
  src: url("//db.onlinewebfonts.com/t/16697a764b01cdcc691b05f001046bc3.eot"); 
  src: url("//db.onlinewebfonts.com/t/16697a764b01cdcc691b05f001046bc3.eot?#iefix") format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/16697a764b01cdcc691b05f001046bc3.woff2") format("woff2"), 
  url("//db.onlinewebfonts.com/t/16697a764b01cdcc691b05f001046bc3.woff") format("woff"), 
  url("//db.onlinewebfonts.com/t/16697a764b01cdcc691b05f001046bc3.ttf") format("truetype"), 
  url("//db.onlinewebfonts.com/t/16697a764b01cdcc691b05f001046bc3.svg#Museo Sans 500") format("svg"); }

/* FONT FAMILY TO PLACEHOLDERS */
::-webkit-input-placeholder {
  font-family: 'Museo Sans 500';
  color: #1c7b8b;
  letter-spacing: 4px;
  font-size: 1vw;
  padding-left: 0.1vw;
}

:-ms-input-placeholder {
  font-family: 'Museo Sans 500';
  color: #1c7b8b;
  letter-spacing: 4px;
  font-size: 1vw;
  padding-left: 0.1vw;
}

:-moz-placeholder {
  font-family: 'Museo Sans 500';
  color: #1c7b8b;
  letter-spacing: 4px;
  font-size: 1vw;
  padding-left: 0.1vw;
}

::-moz-placeholder {
  font-family: 'Museo Sans 500';
  color: #1c7b8b;
  letter-spacing: 4px;
  font-size: 1vw;
  padding-left: 0.1vw;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px rgb(218, 250, 226) inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: #1c7b8b !important;
}

/*  */
input[type=text]{
  background-color: rgb(218, 250, 226);
  color: #1c7b8b;
  border: 0px;
  font-family: 'Museo Sans 500';
  letter-spacing: 6px;
  font-size: 1vw;
  padding-left: 1vw;
}

input[type=email]{
  background-color: rgb(218, 250, 226);
  color: #1c7b8b;
  border: 0px;
  font-family: 'Museo Sans 500';
  letter-spacing: 6px;
  font-size: 1vw;
  padding-left: 1vw;
}

input[type=number]{
  background-color: rgb(218, 250, 226);
  color: #1c7b8b;
  border: 0px;
  text-align: center;
  font-family: 'Museo Sans 500';
  letter-spacing: 3px;
  font-size: 1vw;
}

.the-form{
  padding: 45px 20px;
  margin: 50px;
  width: 40vw;
  background-color: #33698d;
}

.the-form button {
  margin-top: 30px;
  border: 1px solid rgb(228, 72, 72);
  background-color: rgb(228, 72, 72);
  font-family: 'Museo Sans 500';
  letter-spacing: 4px;
  font-size: 1vw;
  color: white;
  padding: 20px 39%;
  cursor: pointer;
}

.user-info{
  height: 45vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 15px;
}

.user-info input{
  margin: 2.3vh auto;
  width: 34vw;
  padding: 20px;
}

.skills-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 99.9%;
}

.form-skill{
  margin: 2.3vh auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 36.5vw;
  height: 5.6vh;
  
}
.form-skill label{
  display: flex;
  align-items: center;
  text-align: left;
  width: 30vw;
  height: 4vh;
}

.form-skill input{
  width: 4vw;
  height: 5vh;
}

@media screen and (max-width: 800px){

  .the-form{
    width: 90vw;
    padding: 20px 10px;
  }

  .user-info input{
    width: 60vw;
  }

  /* FONT FAMILY TO PLACEHOLDERS */
::-webkit-input-placeholder {
  font-family: 'Museo Sans 500';
  color: #1c7b8b;
  letter-spacing: 4px;
  font-size: 2vw;
  padding-left: 0.1vw;
}

:-ms-input-placeholder {
  font-family: 'Museo Sans 500';
  color: #1c7b8b;
  letter-spacing: 4px;
  font-size: 1vw;
}

:-moz-placeholder {
  font-family: 'Museo Sans 500';
  color: #1c7b8b;
  letter-spacing: 4px;
  font-size: 1vw;
  padding-left: 0.1vw;
}

::-moz-placeholder {
  font-family: 'Museo Sans 500';
  color: #1c7b8b;
  letter-spacing: 4px;
  font-size: 1vw;
  padding-left: 0.1vw;
}

.form-skill{
  width: 68vw;
}

.form-skill label {
  font-size: 10px;
  width: 80%;
}

.form-skill input{
  width: 15%;
  font-size: 2vh;
}
.the-form button{
  padding: 10px 33%;
font-size: 3vh;
}
}